@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

:root {
    --jade: #2A606B;
    --red: #FF1F1F
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans', sans-serif;
}

.site-wrapper {
    background-image: url("./assets/Vector 2.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: relative;
    min-height: 100vh;
    display: flex;
}

.header {
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    gap: 5rem;
    height: 9rem;
}


.title {
    color: var(--jade);
    font-size: 3rem;
}

.no-title {
    justify-content: flex-end;
}

.side-img {
    background-image: url("./assets/katsiaryna-endruszkiewicz-BteCp6aq4GI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0 80px 80px 0;
    background-color: rgba(0, 0, 0, 20%);

    min-height: 100%;
    min-width: max(25%, 20rem);
}

.side-img .title {
    color: white;
    padding: 2.5rem 0 0 5rem;
    text-align: center;
    max-width: fit-content;
}

.content {
    flex-grow: 1;
    position: relative;
}

nav {
    display: flex;
    gap: 5rem;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

nav label {
    margin-right: 0.5rem;
}

nav input {
    border: none;
    border-bottom: 1px solid black;
    width: 0;
}

.home-content {
    text-align: right;
    margin: 10% 10% 5% 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2.5rem;
}

.home-content h2 {
    font-size: 2.5rem;
}

h2 > span {
    color: var(--red);
}

.home-content > p {
    line-height: 30px;
    max-width: 70%;
}

.home-content > a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--red);
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 1rem;
}

.cart-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 25%);
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    display: none;
}

.cart {
    background-color: white;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-head {
    border-bottom: 1px solid #DFDFDF;
    text-align: center;
    padding: 2.5rem 2rem;
}

.cart-products {
    padding: 2.5rem;
}

.cart-summary {
    padding: 2.5rem;
}

.cart-units, .cart-total{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.cart-units h4, .cart-total h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.cart-units span, .cart-total span {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.cart-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.gr-btn {
    color: white;
    background-color: var(--jade);
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;

    padding: 0.9rem 1rem;
    width: 12rem;
}